@use "../../style\ properties.scss"as style;

main[role="main"] {
  --padding: 1rem;
  background-color: style.$primary-color;
  height: calc(100% - var(--padding) * 2 - (style.$primary-border-radius));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--padding);
  img {
    width: 45vmin;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 3px solid transparent;
    background: linear-gradient(to right, red, yellow, green, aqua) border-box;
    transition: 0.1s linear;
    &:hover {
      border: 10px solid transparent;
      box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.2);
    }
  }
}
